<img src = "https://apply.softsquared.com/custom/img/logo.png">


## 첫번째 과제입니다.

우리는 파이썬 문법 1 파트에서 숫자형, 문자형, bool형 자료, 변수, 비교연산, 조건문 등에 대해서 배웠습니다.

이에 대한 과제를 제공해 드립니다.

과제를 하시는 동안 정보검색은 적극 권장됩니다.

<a href ="https://wikidocs.net/book/1">점프투파이썬</a>

# Q1

```python

a = 10
b = 15
```

변수 a와 b가 위와 같이 선언되어 있습니다.

```python
print(a+b)

print("a+b")
```

위 결과를 예상해보고, 출력해봅시다. 또한, 그 이유를 설명하세요.

In [4]:
a=10
b=15
print("a+b") #a b를 변수로 인식
print(a+b) #정수로 인식

a+b
25

# Q2

파이썬에서 ** 은 제곱 계산을 하는 연산자 입니다.

** 를 활용해서 3의 5 제곱을 계산해보세요.

In [1]:
3**5

243

# Q3

다음과 같은 코드가 있습니다.

1. 각각 print(a)에서 출력 될 결과를 예상하고, 실행시켜보세요.
2. a를 다시 1로 만들어 주세요.

```python

a = 1

print(a)

a = a + 1

print(a)

a += 1

print(a)

a *= 3

print(a)
```


tip) a += 1은 a = a+1과 같은 의미입니다. 같은 맥락으로 a *= a도 이해할 수 있겠죠?

In [2]:
a=1
print(a)
a=a+1
print(a)
a+=1
print(a)
a*=3
print(a)
a/=8
print(int(a))

1
2
3
9
1

# Q4

name 이라는 변수에 자신의 이름을 문자형으로 선언하세요.

number 이라는 변수에 자신의 휴대폰 번호 뒷자리를 정수형으로 선언하세요.

name과 number를 적절한 형변환을 해서 (name+number)를 출력하세요.

tip) 형변환 함수를 사용하세요, int(), str() 등..

In [3]:
name = 'mokka'
number = 7949
print(name+str(number))

mokka7949

# Q5

john, emma, jack, sue 의 시험 점수는 각각 95점, 89점, 83점, 100점입니다.

각 학생의 이름을 변수로해서 시험점수를 정수로 입력하고

avg 라는 변수에 네명의 학생의 평균 점수를 대입하세요.

avg의 값과 데이터 타입을 출력하세요.

hint) 우리가 앞서 배운 사칙연산 문법과 type()함수를 활용

In [4]:
john = 95
emma = 89
jack = 83
sue = 100
total = john + emma + jack + sue
avg = total/4
print(avg)

91.75

# Q6

삼성전자의 주가는 55,000원이고,
카카오의 주가는 130,000원입니다.

로니는 삼성전자 100주와 카카오 60주를 가지고 있다고 합니다.

1. 로니가 가지고 있는 주식의 총액은 얼마인가요?

2. 한달 뒤 삼성전자의 주가는 30% 상승했고, 카카오의 주가는 10% 하락했습니다. 한달 뒤에 로니가 가지고 있는 주가의 총액은 얼마인가요?

In [5]:
삼성전자 = 55000
카카오 = 130000
print(삼성전자*100 + 카카오*60)
#한달뒤
삼성전자*=1.3
카카오*=0.9
print(삼성전자*100 + 카카오*60)

13300000
14170000.0

# Q7

다음의 코드를 입력하고, 활용해서 주어진 결과를 3가지 방법으로 만들어 주세요.

```python

bench_press = 90
squart = 120
deadlift = 140

total = bench_press + squat + deadlift

name = "짱구"
```

결과 : 

짱구는 벤치프레스 90kg, 스쿼트 120kg, 데드리프트 140kg을 들 수 있다.
총합 350kg이다.


아래 3가지 방법을 이용해 같은 결과를 만들어 주세요.

1. ',' 로 구분하는 방법
2. '+'를 이용하는 방법
3. formatting 기법을 이용하는 방법

In [27]:
bench_press = 90
squart = 120
deadlift = 140

total = bench_press + squart + deadlift

name = "짱구"
print(name,"는 벤치프레스",bench_press,"kg","데드리프트", deadlift, "kg을 들 수 있다. 총합", total,"kg이다.")

짱구 는 벤치프레스 90 kg 데드리프트 140 kg을 들 수 있다. 총합 350 kg이다.

In [86]:
bench_press = 90
squart = 120
deadlift = 140

total = bench_press + squart + deadlift

name = "짱구"
print(name+'는 벤치프레스 '+str(bench_press)+'kg, 스쿼트 '+str(squart)+'kg, 데드리프트 '+str(deadlift)+'kg을 들 수 있다. 총합 '+str(total)+'kg이다.')

짱구는 벤치프레스 90kg, 스쿼트 120kg, 데드리프트 140kg을 들 수 있다. 총합 350kg이다.

In [10]:
bench_press = 90
squart = 120
deadlift = 140

total = bench_press + squart + deadlift

name = "짱구"
print(
    f"짱구는 벤치프레스 {bench_press}kg, 스쿼트 {squart}kg, 데드리프트 {deadlift}kg을 들 수 있다. 총합 {total}kg이다." )
#     .format(bench_press, squart, deadlift, total))

짱구는 벤치프레스 90kg, 스쿼트 120kg, 데드리프트 140kg을 들 수 있다. 총합 350kg이다.

# Q8

formatting 기법을 활용하기 위함입니다. ??에 들어갈 적절한 변수를 넣어주세요.

```python
win = 512
lose = 256
total = win + lose
win_ratio = win/total*100
```

결과:
이번 축구 경기에서 512명의 사람이 한국이 승리할 것이라고 했고, 256명의 사람은 한국이 패배할 것이라고 말한다. 승부를 예측한 사람의 총원은 768명이고 승리예측자 비율은 66.6%이다.


참고)
https://wikidocs.net/13#format

In [354]:
win = 512
lose = 256
total = win + lose
win_ratio = win/total*100 # write your code here!!

print("""이번 축구 경기에서 {3}명의 사람이 한국이 승리할 것이라고 했고,
        {0}명의 사람은 한국이 패배할 것이라고 말한다.
        승부를 예측한 사람의 총원은 {1}명이고 승리예측자 비율은 {2:0.1f}%이다."""\
      .format(lose, total, win_ratio, win))

이번 축구 경기에서 512명의 사람이 한국이 승리할 것이라고 했고,
        256명의 사람은 한국이 패배할 것이라고 말한다.
        승부를 예측한 사람의 총원은 768명이고 승리예측자 비율은 66.7%이다.

# Q9

input() 함수를 이용해서 각기 다른 3개의 변수에 숫자를 입력받고, 조건문 if를 사용해서 가장 큰 숫자를 출력하세요. (변수명은 자유롭게)

hint) input함수는 문자형 자료로 반환합니다. 적절한 형변환이 필요하겠죠?

In [80]:
a=int(input("첫번째 숫자를 입력하세요"))
b=int(input("두번째 숫자를 입력하세요"))
c=int(input("세번째 숫자를 입력하세요"))
if a>b and a>c:
    print("max=a",a)
elif b>c and b>a:
    print("max=b",b)
else:
    print("max=c",c)

첫번째 숫자를 입력하세요10
두번째 숫자를 입력하세요4
세번째 숫자를 입력하세요5
max=a 10

# Q10

input() 함수를 이용해서 숫자를 입력 받고, 그 수가 짝수인지 홀수인지 판별하는 코드를 작성하세요.

In [36]:
n = int(input('숫자를 입력하세요')) #1
if n % 2 == 0: #2
  print("짝수입니다.") #3
else:
  print("홀수입니다.") #4

숫자를 입력하세요9
홀수입니다.

# Q11

3개의 서로 다른 정수를 각각 다른 변수에 입력 받고, 두번째로 큰 수를 출력하세요.

In [88]:
a=int(input("첫번째 숫자를 입력하세요"))
b=int(input("두번째 숫자를 입력하세요"))
c=int(input("세번째 숫자를 입력하세요"))
if a>b>c:
    print("mid=b",b)
elif c>b>a:
    print("mid=b",b)
elif b>a>c:
    print("mid=a",a)
elif c>a>b:
    print("mid=a",a)
elif a>c>b:
    print("mid=c",c)
elif b>c>a:
    print("mid=c",c)

첫번째 숫자를 입력하세요50
두번째 숫자를 입력하세요42
세번째 숫자를 입력하세요89
mid=a 50

In [1]:
a=int(input("첫번째 숫자를 입력하세요"))
b=int(input("두번째 숫자를 입력하세요"))
c=int(input("세번째 숫자를 입력하세요"))
target=a
if (b<target<c) or (c<target<b):
    print("mid=a",a)
target=b
if (a<target<c) or (c<target<a):
    print("mid=b",b)
target=c
if (a<target<b) or (b<target<a):
    print("mid=c",c)

첫번째 숫자를 입력하세요50
두번째 숫자를 입력하세요54
세번째 숫자를 입력하세요51
mid=c 51

In [2]:
a=int(input("첫번째 숫자를 입력하세요"))
b=int(input("두번째 숫자를 입력하세요"))
c=int(input("세번째 숫자를 입력하세요"))
target=a
if (b<target<c) or (c<target<b):
    print("mid=a",a)
target=b
if (a<target<c) or (c<target<a):
    print("mid=b",b)
else:
    print("mid=c",c)

첫번째 숫자를 입력하세요50
두번째 숫자를 입력하세요51
세번째 숫자를 입력하세요52
mid=b 51

In [5]:
a=int(input("첫번째 숫자를 입력하세요"))
b=int(input("두번째 숫자를 입력하세요"))
c=int(input("세번째 숫자를 입력하세요"))
print(Median(a,b,c))

첫번째 숫자를 입력하세요10
두번째 숫자를 입력하세요20
세번째 숫자를 입력하세요30

NameError: name 'Median' is not defined

In [ ]:
a= int(input("first"))
b=int(input("second"))
c=int(input("third"))

# Q12

시험점수가 100~90점이면 A, 89~80점이라면 B, 79~60점이라면 C, 그 외에는 F라고 합니다.

현수의 점수가 88점일 때, 현수의 성적을 조건문을 이용해서 출력해주세요.

In [102]:
점수=int(input("점수를 입력하세요"))
if 100>=점수>=90:
    print("A",점수)
elif 89>=점수>=80:
    print("B",점수)
elif 79>=점수>=60:
    print("C",점수)
else:
    print("F",점수)

점수를 입력하세요88
B 88

# Q13


윤년(閏年)의 기준은 다음과 같습니다.

1. 4로 나누어 떨어지지만 100으로 나누어 떨어지는 해는 평년으로 한다.
2. 단, 400으로 나누어 떨어지는 해는 윤년으로 한다.(예: 2000년, 2400년)

윤년일 경우 1, 아니라면 0을 출력하는 코드를 작성하세요.

In [19]:
年=int(input("해를 입력하세요"))
if 年%4 == 0 and 年%100 == 0 and 年%400 == 0:
    print("1")
else:
    print("0")

해를 입력하세요2400
1

# Q14

민주가 학교를 마치고 집에가려고 합니다. 민주가 집을 가는 방법은 총 3가지 입니다. 
* 택시를 타면 5,600원이 나오고
* 버스를 타면 1,250원이 나오고
* 걸어가면 중간에 간식을 사먹기 때문에 5,000원을 사용합니다.

민주가 수중에 10,000원이 있을 때, 각각의 방법에 대한 잔돈을 구하는 코드를 작성해봅시다.

In [80]:
하교=input("집에 가는 방법을 입력하시오.")
택시=5600
버스=1250
걸어간다=5000
돈=10000
if 하교 == "택시":
    print(돈-택시)
elif 하교 == "버스":
    print(돈-버스)
elif 하교 == "걸어간다":
    print(돈-걸어간다)

집에 가는 방법을 입력하시오.걸어간다
5000

# String Special

문자열을 다루는 능력은 기본입니다.

파이썬에선 문자열과 관련된 수많은 함수를 포함하고 있습니다.

모든 것을 외울 필요는 없지만, 자주 사용되는 몇개의 함수는 익혀둘 필요가 있습니다.

이 파트에서는 적극적으로 검색을 이용하는 것을 권장합니다.

프로그래머의 능력 중 하나는 자신이 필요한 정보를 빠르게 찾아내는 것입니다.

이 부분에서는 문제를 푸는데 필요한 함수를 직접 찾아보며 풀어봅시다.

<a href = "https://wikidocs.net/13#_19">참고자료 1 </a>

<a href = "http://edu.goorm.io/learn/lecture/3493/%EB%B0%94%EB%A1%9C-%EC%8B%A4%ED%96%89%ED%95%B4%EB%B3%B4%EB%A9%B4%EC%84%9C-%EB%B0%B0%EC%9A%B0%EB%8A%94-%ED%8C%8C%EC%9D%B4%EC%8D%AC3-python/lesson/404553/%EB%AC%B8%EC%9E%90%EC%97%B4-%ED%95%A8%EC%88%98"> 참고자료 2 </a>

# Q14

```python
a = "Hi, my name is Nick"
a[-4:] = "John"
```

위 코드를 실행해보고, 작동되지 않는 이유를 서술해주세요.

또한 replace 함수를 활용해서 a를 "Hi, my name is john"으로 바꿔봅시다.

In [54]:
a = "Hi, my name is Nick" #문자열은 변경이 불가능하다.
a.[-4:] = "John"

SyntaxError: invalid syntax (<ipython-input-54-afda2a6fb90d>, line 2)

In [82]:
a = "Hi, my name is Nick"
a.replace("Nick", "john")

'Hi, my name is john'

# Q15

적절한 함수를 사용해서 다음과 같은 문자열을 바꿔주세요.

```python

한글 = "가 나 다 라 마 바 사"
```

결과 : "가-나-다-라-마-바-사"

In [107]:
한글 = "가나다라마바사"
"-".join(한글)

'가-나-다-라-마-바-사'

# Q16

다음과 같은 문자열을 바꿔주세요.

```python

rev = "장발장은 거꾸로 말해도 장발장"
```

결과 : "장발장은 도해말 로꾸꺼 은장발장"

tip) 슬라이싱의 기본문법 중, 스텝에 집중해봅시다. [시작:끝:스텝]

In [136]:
rev = "장발장은 거꾸로 말해도 장발장"
rev[::-1]

'장발장 도해말 로꾸거 은장발장'

In [56]:
rev = "장발장은 거꾸로 말해도 장발장"
rev[16::-1]

'장발장 도해말 로꾸거 은장발장'

In [57]:
rev = "장발장은 거꾸로 말해도 장발장"
rev[3:]

'은 거꾸로 말해도 장발장'

In [58]:
rev = "장발장은 거꾸로 말해도 장발장"
rev[:5]

'장발장은 '

# Q17

문자열에 불필요한 특수문자를 제거한 뒤 출력해봅시다.

(strip함수를 이용해봅시다.)

```python
strip_prac = "###+++remove please----////"
```

결과: "remove please"

In [138]:
strip_prac = "###+++remove please----////"
strip_prac.strip("#+-/")

'remove please'

# Q18

?? 안에 알맞은 문자열 함수를 집어넣어서 완성해주세요.

```python

a = "softsquared is the best place for the study"

print("공백의 개수는 {}입니다.".format(??))

print("t가 등장하는 횟수는 {}회 입니다."format(??))
```

In [144]:
a = "softsquared is the best place for the study"

print("공백의 개수는 {}입니다.".format(a.count(' ')))
print("t가 등장하는 횟수는 {}회 입니다.".format(a.count('t')))

공백의 개수는 7입니다.
t가 등장하는 횟수는 5회 입니다.

# Q19

민희의 전화번호는 010-4568-1234 입니다. 민희의 전화번호에서 -를 제외하고 숫자만 나눠서 출력해주세요.

```python

민희 = "010-4568-1234"
```

결과:<br>
010<br>
4568<br>
1234

In [155]:
민희 = "010-4568-1234"
a = 민희.replace("-","\n")
print(a)

010
4568
1234

# Q20

a 문자열의 길이를 구합시다.

```python
a = "정말 쉬운 파이썬, 너무 너무 쉬워서 재미있는 파이썬! 얼마나 좋게요~!"
```

In [183]:
a = "정말 쉬운 파이썬, 너무 너무 쉬워서 재미있는 파이썬! 얼마나 좋게요~!"
len(a)

40